.order-detail {
  width: 32%;
  min-height: 250px;
  margin-top: 5%;
}

.customer-detail {
  width: 32%;
  margin-top: 5%;
  margin-left: 2%;
  min-height: 250px;
}

.address-detail {
  width: 32%;
  margin-left: 2%;
  margin-top: 5%;
  min-height: 250px;
}

.detail-container {
  display: flex;
  flex-wrap: wrap;
  margin: 5%;
}

.table {
  width: 100%;
}
