<div class="d-flex m-5">
  <i class="bi bi-arrow-left fs-2" (click)="backNavigate()"></i>
  <p class="display-6 fw-bold mx-3">{{title}} Details</p>
</div>
<div class="detail-container">
  <mat-card class="order-detail">
    <mat-card-header class="p-3">
      <mat-card-title class="fs-3">
        Order Details
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="content fs-5">
      <div class="d-flex">
        <p>Order ID</p>
        <p class="mx-3">{{order.id}}</p>
      </div>
      <div class="d-flex">
        <p>Date Added</p>
        <p class="mx-3">{{order.createdAt}}</p>
      </div>
      <div class="d-flex">
        <p>Payment Mode</p>
        <p class="mx-3">{{order.paymentMode}}</p>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card class="customer-detail">
    <mat-card-header class="p-3">
      <mat-card-title class="fs-3">
        Customer Details
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="content fs-5">
      <div class="d-flex">
        <p>Customer Name</p>
        <p class="mx-3">{{order.customerName}}</p>
      </div>
      <div class="d-flex">
        <p>Payment Mode</p>
        <p class="mx-3">{{order.paymentMode}}</p>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card class="address-detail">
    <mat-card-header class="p3">
      <mat-card-title class="fs-3">
        Address
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="content fs-5">
      <div class="d-flex">
        <p>Shipping </p>
        <p class="mx-3">{{order.address}}</p>
      </div>
      <div class="d-flex">
        <p>Billing </p>
        <p class="mx-3">{{order.address}}</p>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card class="table-container">
    <mat-card-header>
      <mat-card-title class="fs-3">
        Orders
      </mat-card-title>
    </mat-card-header>
    <app-reusable-table [HeadArray]="columnArray" [DataArray]="cartData" class="table p-3">

    </app-reusable-table>
  </mat-card>

</div>
