<div class="container">
    <ul class="timeline">
      <li [ngClass]="{'active-tl': currentOrderStatus>=1}">
        Order Booked
      </li>
      <li [ngClass]="{'active-tl': currentOrderStatus>=4}">
        Order Packed
      </li>
      <li [ngClass]="{'active-tl': currentOrderStatus>=8}">
        Picked by delivery agent
      </li>
      <li *ngIf="currentOrderStatus==11" [ngClass]="{'active-tl': currentOrderStatus==11}">
        Delivered
      </li>
      <li *ngIf="currentOrderStatus==12" [ngClass]="{'active-tl': currentOrderStatus==12}">
        Return
      </li>
      <li *ngIf="currentOrderStatus==16" [ngClass]="{'active-tl': currentOrderStatus==16}">
        Cancelled
      </li>
    </ul>
</div>