<mat-dialog-content>
  <h1 class="text-dark mx-3 mt-2">Cart:</h1>
  <ng-container *ngFor="let data of cartData; let i=index">
    <div class="card mx-3 mt-2">
      <div class="card-header bg-primary text-light">
        <span class="fs-3">{{i+1}}. Order ID:</span>{{data.id}}
      </div>
      <div class="card-header ">
        <ul class="list-group">
          <li class="list-group-item border-primary">
            <h6>Cart ID: </h6>
            <p>{{data.cartId}}</p>
          </li>
          <li class="list-group-item border-primary">
            <h6>Status: </h6>
            <p>{{data.status}}</p>
          </li>
          <li class="list-group-item border-primary">
            <h6>Payment Mode: </h6>
            <p>{{data.paymentMode}}</p>
          </li>
          <li class="list-group-item border-primary">
            <h6>Created At: </h6>
            <p>{{data.createdAt}}</p>
          </li>
        </ul>
      </div>
      <div class="card-header">
        <h5 class="text-dark">Product:</h5>
        <ul class="list-group">
          <li class="list-group-item border-primary">
            <h6>Name: </h6>
            <p>{{data.product.name}}</p>
          </li>
          <li class="list-group-item border-primary">
            <h6>Description: </h6>
            <p>{{data.product.description}}</p>
          </li>
          <li class="list-group-item border-primary">
            <h6>Price: </h6>
            <p>{{data.product.price}}</p>
          </li>
          <li class="list-group-item border-primary">
            <h6>Created At: </h6>
            <p>{{data.product.createdAt}}</p>
          </li>
        </ul>
      </div>
      <div class="card-header text-dark">
        <button class="btn btn-primary float-end">More Details</button>
        <h5>Address: </h5>
        <p>{{data.address.country}} {{data.address.state}} {{data.address.city}} {{data.address.street}}
          {{data.address.postalCode}}</p>

      </div>
    </div>
  </ng-container>
</mat-dialog-content>

