<p class="mx-5 mt-5 display-6 fw-bold">{{title}}</p>
<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" class="mt-5 mx-5">
 
  <mat-tab label="New Request">
    
    <div class="col-md-12 container">
      <div>
        <app-reusable-table [HeadArray]="columnArray" [DataArray]="bookingList" [Title]="title">
        </app-reusable-table>
      </div>

      <button mat-button (click)="loadMoreData()" class="load-more">Load More
      </button>
      <button mat-button (click)="loadLessData()" class="load-less">Load Less
      </button>
    </div>
  </mat-tab>
  <mat-tab label="Approved Request">
    <div class="col-md-12 container">
      <div>
        <app-reusable-table [HeadArray]="columnArray" [DataArray]="bookingList" [Title]="title">
        </app-reusable-table>
      </div>

      <button mat-button (click)="loadMoreData()" class="load-more">Load More
      </button>
      <button mat-button (click)="loadLessData()" class="load-less">Load Less
      </button>
    </div>
  </mat-tab>
</mat-tab-group>
