<!-- For Completed Orders -->
<div class="complete-order-detail-container">
  <mat-card class="order-detail-card">
    <mat-card-content>
      <div class="detail-field">
        <p class="field-name">Transaction ID</p>
        <p class="field-value">#SDMJDBKSJS58723V3</p>
      </div>
      <div class="detail-field">
        <p class="field-name">Vendor Name</p>
        <p class="field-value">Latin Rood</p>
      </div>
      <div class="detail-field">
        <p class="field-name">User Name</p>
        <p class="field-value">James Bond</p>
      </div>
      <div class="detail-field">
        <p class="field-name">Total Amound</p>
        <p class="field-value">INR 23550/-</p>
      </div>
      <div class="detail-field">
        <p class="field-name">Payment Status</p>
        <p class="field-value">Done</p>
      </div>
      <div class="detail-field">
        <p class="field-name">Payment Mode</p>
        <p class="field-value">By Cash</p>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card class="order-product-list">
    <mat-card-header class="header">
      <mat-card-title class="title">Products Details</mat-card-title>
    </mat-card-header>
    <mat-card-content class="product-list-container">
      <div class="product-detail-container">
        <div class="image-title-container">
          <img src="../../../assets/smart-watch.png">
          <div class="product-title">
            <p class="title">Smart Watch</p>
            <p class="date">Delivery Date : 19/05/2023</p>
          </div>
        </div>
        <p>INR 12330/-</p>
      </div>
      <div class="product-detail-container">
        <div class="image-title-container">
          <img src="../../../assets/smart-watch.png">
          <div class="product-title">
            <p class="title">Smart Watch</p>
            <p class="date">Delivery Date : 19/05/2023</p>
          </div>
        </div>
        <p>INR 12330/-</p>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<!-- For Ongoing Orders -->
<div class="ongoing-order-container">
  <div class="card-container">
    <mat-card class="order-detail-card">
      <mat-card-content>
        <div class="order-field-container">
          <p class="field-name">Unique ID</p>
          <p class="field-value">#SDW123</p>
        </div>
        <div class="order-field-container">
          <p class="field-name">Vendor Name</p>
          <p class="field-value">Latin Road</p>
        </div>
        <div class="order-field-container">
          <p class="field-name">Driver Name</p>
          <p class="field-value">Josh Belua</p>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="order-detail-card">
      <mat-card-content>
        <div class="order-field-container">
          <p class="field-name">User Name</p>
          <p class="field-value">Shubham Awasthi</p>
        </div>
        <div class="order-field-container">
          <p class="field-name">Payment Mode</p>
          <p class="field-value">Card</p>
        </div>
        <div class="order-field-container">
          <p class="field-name">Payment Status</p>
          <p class="field-value">Done</p>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="order-detail-card">
      <mat-card-content>
        <div class="order-field-container">
          <p class="field-name">User Address</p>
          <p class="field-value">Unit 1/23 Hastings Road,
            Melbourne 3000,Victoria,
            Australia.</p>
        </div>
        <div class="order-field-container">
          <p class="field-name">Vendor Address</p>
          <p class="field-value">Unit 1/23 Hastings Road,
            Melbourne 3000,Victoria,
            Australia.</p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="product-detail-container">
    <mat-card class="product-card">
      <mat-card-content class="product-details">
        <div class="image-title-container">
          <img src="../../../assets/smart-watch.png">
          <div class="title-container">
            <div class="title-date">
              <p class="title">Smart Watch</p>
              <p class="date">Delivery Date: 19/05/2023</p>
            </div>
            <div class="price">
              <p>INR 12330/-</p>
            </div>
          </div>
        </div>
        <div class="description">
          <p class="header">Description :</p>
          <p class="description-content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse saepe eos, ipsum
            fuga iure dicta, quis ea molestiae iusto, ex animi neque hic nostrum! Architecto ipsa quae blanditiis magnam
            enim.</p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- <div class="status-bar">
    <ul class="progressbar">
      <li class="active">Step 1</li>
      <li>Step 2</li>
      <li>Step 3</li>
      <li>Step 4</li>
    </ul>
  </div> -->
</div>

<div class="feedback-container">
  <p class="feedback-heading">Feedback for Delivery Agent</p>
  <mat-card class="feedback-card">
    <mat-card-content>
      <div class="rating-container">
        <p>Rating:</p>
        <div class="rating-stars">
          <img src="../../../assets/ratingStart.png">
          <img src="../../../assets/ratingStart.png">
          <img src="../../../assets/ratingStart.png">
          <img src="../../../assets/ratingStart.png">
          <img src="../../../assets/ratingStart.png">
        </div>
      </div>
      <div class="comment-container">
        <p class="label">Comment:</p>
        <p class="comment">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum quia sapiente, facilis in
          temporibus sunt recusandae animi, fugit vel aut quisquam omnis id officia, officiis dolores ratione unde quasi
          ipsam.</p>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<div class="cancellation-container">
  <p class="cancel-heading">Reason for cancellation</p>
  <div class="card-container">
    <mat-card class="cancellation-card">
      <mat-card-content>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa, mollitia vel. Corrupti enim quo facilis!
          Laboriosam eius minus atque, consectetur deleniti iste cumque suscipit eaque eum consequuntur cum sunt
          veritatis!</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="replacement-card">
      <mat-card-content>
        <div class="field-container">
          <p class="field-name">Return/Replacement ID</p>
          <p class="field-value">#SDWJHSKDHKU234123</p>
        </div>
        <div class="field-container">
          <p class="field-name">Return/Replacement Status</p>
          <p class="field-value">Done</p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
