.title-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  .action-wrapper{
    display: flex;
    align-items: center;
  }
  .sortby {
    width: 200px;
    padding: 3%;
    background: white;
    border: 1px solid #EAEAEA;
    box-shadow: 0px 2px 1px rgba(84, 91, 252, 0.2);
    border-radius: 15px;
  }
}

.complete-order-detail-container {
  margin-block: 1em;
  display: flex;
  flex-wrap: wrap;
  .order-detail-card {
    width: 44%;
    margin: 0.5em;
    background-color: #FFFFFF;
    border-radius: 10px;
    .detail-field {
      display: flex;
      justify-content: space-between;
      .field-name {
        color: #7E8299;
      }
      .field-value {
        font-weight: 600;
        color: #7E8299;
      }
    }
  }

  .order-product-list {
    width: 52%;
    margin: 0.5em;
    height: fit-content;
    background-color: #FFFFFF;
    border-radius: 10px;
    .product-list-container {
      margin: 5% 0% 0% 0%;
      .product-detail-container {
        display: flex;
        color: #7E8299;
        justify-content: space-between;
        align-items: center;
        .image-title-container {
          display: flex;
          align-items: center;
          img {
            width: 2em;
            height: 3em;
            object-fit: contain;
          }
          .product-title {
            margin-left: 0.5em;
          }
          p {
            font-size: 0.9em;
            font-weight: 600;
            text-align: right;
            justify-self: center;
          }
        }
      }
    }
  }
}

.ongoing-order-container {
  .card-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    .order-detail-card {
      margin: 0.5em;
      width: 48%;
      border-radius: 10px;
      display: flex;
      .order-field-container {
        display: flex;
        justify-content: space-between;
        color: #7E8299;
        .field-name {
          margin-right: 2em;
        }
        .field-value {
          font-weight: 600;
        }
      }
    }
  }
}

@media screen and (max-width:1000px) {
  .complete-order-detail-container{
    .order-detail-card{
      width: 100%;
    }
    .order-product-list{
      width: 100%;
    }
  }
  .ongoing-order-container{
    .card-container{
      .order-detail-card{
        width: 100%;
      }
    }
  }
}