<div class="title-container">
  <div class="sort-filter-container">
    <h1 class="title-text">Order Management</h1>
    <mat-select class="sortby" placeholder="Sort By" (selectionChange)="statusChange()" [(ngModel)]="selectedStatus">
      <ng-container *ngFor="let stat of statusList; let i=index">
        <mat-option [value]="stat.id">{{stat.name}}</mat-option>
      </ng-container>
    </mat-select>
  </div>
  <div class="filter-container">
    <input class="search-filter" type="text" placeholder="Search" #input>
    <button class="filter"><img src="../../../assets/filter.png"></button>
  </div>
</div>

<div class="table-container">
  <table mat-table class="orders-table" [dataSource]="dataSource">
    <ng-container *ngFor="let column of tableHeaders; let i=index" [matColumnDef]="column.field_name">
      <th mat-header-cell *matHeaderCellDef class="order-table-header">
        {{column.header}}
      </th>
      <td mat-cell *matCellDef="let row; let i=index" class="order-table-cell">
        <div *ngIf="column.header != 'Sr.No.' && column.header != 'Action' && column.header != 'Order Status'">
          {{row[column.field_name]}}
        </div>
        <div *ngIf="column.header == 'Sr.No.'">
          {{i + 1}}
        </div>
        <div *ngIf="column.header == 'Order Status'">
          {{status[row[column.field_name]-1]}}
        </div>
        <div *ngIf="column.header == 'Action'">
          <button mat-icon-button [routerLink]="['order-detail', 47]">
            <img src="../../../assets/eye.svg" alt="details">
          </button>
        </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
