.order-table-container {
  padding:5%;
}

.order-table {
  opacity: 80%;
}

.paginator {
  opacity: 80%;
}

.order-container {
  height: 100%;
  background-image: url(../../../assets/BG_image.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.search-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dispatch-button{
  background-color: rgb(7, 187, 7);
  color: white !important;
}
