.sidenav-container {
    height: 100%;
  }
  
  .sidenav {
    width: 300px;
    border-top-right-radius: 40px !important;
    border-bottom-right-radius: 40px !important;
    box-shadow: 20px 10px 100px rgba(84, 91, 252, 0.4);
    background: #545BFC;
  }
  
  .sidenav .mat-toolbar {
    background: inherit;
  }
  
  .toolbar {
    display: flex;
    justify-content: space-between;
  }
  
  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
  }
  
  
  .expansion-panel {
    box-shadow: none;
    background-color: #545BFC;
  
    .expansion-panel-header {
      color: #FFFFFF;
      span {
        color: #FFFFFF;
        font-size: x-large;
      }
    }
  
    .expanded-list-item {
      width: auto;
  
      span {
        color: #FFFFFF;
      }
    }
  }
  
  mat-nav-list {
    .list-item {
      width: auto;
      padding-left: 49px !important;
      margin-bottom: 5%;
      
      span {
        color: #FFFFFF !important;
        font-size: x-large;
      }
    }
  }
  
  
  .expansion-panel:hover {
    background-color: #545BFC;
  }
  
  