<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar class="sidenav-toolbar">
      <h1 class="mx-5 text-light"><i class="bi bi-cloud"></i> Logo</h1>
    </mat-toolbar>
    <mat-nav-list>
      <ng-container *ngFor="let item of menuItems">
        <ng-container>
          <mat-list-item [routerLink]="item.path" class="list-item">
            <span>{{item.label}}</span>
          </mat-list-item>
        </ng-container>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="toolbar">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <button mat-icon-button (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </mat-toolbar>
    <router-outlet ></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>