.table-header{
    font-size: larger;
    padding: 1%;
    border: none;
}

.generic-table{
    box-shadow: none;
    border: none;
}

.table-data{
    padding: 1%;
    font-size: large;
    border: none;
}


